[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = MarioCarrasco
	email = 60732836+MarioCarrasco@users.noreply.github.com
